body {background-color: black;}
h1 {color: azure; font-size: xx-large;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
p {color: azure; font-size: medium; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
.grid-container {
        display: grid;
        grid-template-columns: auto auto;
        background-color:darkgrey;
        padding: 10px;
    }
    .grid-item {
        background-color: black;
        border: 1px solid white;
        padding: 10px;
        font-size: 30px;
        text-align: center;
    }